# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science tools
- Show some arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Panda

| Data Science Tools |
| ----------------- |
| Jupyter Notebook |
| RStudio |
| Tableu |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

Author: Sebastian Hammes